<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="form-group">
    <label>商品描述</label><br>
    <textarea name="goods_desc" id="goods_desc"></textarea>
    <!--引入UMeditor编辑器-->
    <link href="__PUBLIC__/umeditor1_2_2-utf8-php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
     <script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor1_2_2-utf8-php/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor1_2_2-utf8-php/umeditor.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">
        UM.getEditor("goods_desc", {
            initialFrameWidth : "100%",
            initialFrameHeight : "200"
        });
    </script>
    <!--引入kindeditor编辑器-->
    <div class="error" style="position:relative;left:365px;top:-25px"></div>
</div>

</body>
</html>