<div class="footer">
    <div class="pull-right">
        By：<a href="http://www.zi-han.net" target="_blank">小灏科技有限公司</a>
    </div>
    <div>
        <strong>Copyright</strong> MrBo &copy; 2017
    </div>
</div>

</div>
</div>


</div>

<!-- Mainly scripts -->
<script src="__PUBLIC__/Admin/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.4.0"></script>

<script src="__PUBLIC__/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


<!-- Custom and plugin javascript -->
<!--<script src="__PUBLIC__/Admin/js/hplus.js?v=2.2.0"></script>-->
<script src="__PUBLIC__/Admin/js/plugins/pace/pace.min.js"></script>
<!-- Page-Level Scripts -->

</body>

</html>