<include file="Public/header" />
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/Validform.js"></script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>表单验证</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">会员管理</a>
            </li>
            <li>
                <strong>添加高考时间</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>表单验证</h5>
                </div>
                <script>
                    function fnClickAddRow() {
                        var url="{:U('Gyear/lis')}";
                        location.reload();
                        location.href=url;
                    }
                    $(function(){
                    })
                </script>
                <script src="__PUBLIC__/laydate/laydate.js"></script>
                <div class="ibox-content">
                    <div class="">
                        <a onclick="fnClickAddRow();" href="javascript:void(0)" class="btn btn-primary ">高考时间列表</a>
                    </div>
                    <form role="form" id="form" action="{:U('Gyear/add')}" method="post">
                        <div class="form-group">
                            <label>参加高考时间</label>
                            <input type="text"   name="gyear" datatype="n4-4"
                                   nullmsg="请输入时间"  errormsg='填写4位年份日期'
                                   size="12" />
                            <div class="error" style="position:relative;left:225px;top:-25px"></div>
                        </div>
                        <div class="form-group">
                            <label>是否显示</label>
                            <input type="radio" name="is_show" value="1" datatype="*"/>是
                            <input type="radio" name="is_show"   value="0" />否
                            <div class="error" style="position:relative;left:225px;top:-25px"></div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>提交</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

</div>
        <script>
            $("#form").Validform({
                tiptype:function(msg,o,cssctl) {
                    if (!o.obj.is("form")) {
                        var objtip = o.obj.siblings('div.error');
                        cssctl(objtip, o.type);
                        objtip.text(msg);
                    }
                }
            })
        </script>
<include file="Public/footer"/>