<include file="Public/header" />
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/Validform.js"></script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>表单验证</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:U('Index/index')}">轮播图片管理</a>
            </li>
            <li>
                <strong>添加图片信息</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>表单验证</h5>
                </div>
                <script>
                    function fnClickAddRow() {
                        var url="{:U('Banner/lis')}";
                        location.reload();
                        location.href=url;
                    }
                    $(function(){
                    })
                </script>
                <div class="ibox-content">
                    <div class="">
                        <a onclick="fnClickAddRow();" href="javascript:void(0)" class="btn btn-primary ">轮播图片列表</a>
                    </div>
                    <style>
                        #pic_container li{float:left;list-style-type:none;margin:5px;}
                    </style>
                    <form  id="upload_form" action="{:U('Banner/ajax_upload_pic')}" method="post"
                          target="_ajax_upload_pic"  enctype="multipart/form-data">
                        <div>
                            图片<input
                                onchange="document.getElementById('loading')
                                .innerHTML='<img width=\'30\' src=\'/Public/Uploads/loading.gif\' />';
                                document.getElementById('upload_form').submit();" type="file" name="pic" />
                            <span id="loading"></span>
                            <ul id="pic_container" style="width:800px;height:200px;border:1px solid #CCCBD9"></ul>
                        </div>
                        <div>
                            <!--<button class="btn btn-sm btn-primary m-t-n-xs"   type="submit"><strong>提交</strong>
                            </button>-->
                        </div>
                    </form>
                    <form enctype="multipart/form-data" id="form" action="{:U('Banner/edittu',array('id'=>I('get.id')))}" method="post">
                        <div id="pic_path"></div>
                        <div>
                            <button class="btn btn-sm btn-primary m-t-n-xs" onclick='form_submit()'><strong>提交</strong>
                            </button>
                            <a style='margin-left:30px;'
                               href="{:U('Banner/edit',array('id'=>I('get.id')))}" class="btn btn-sm btn-primary m-t-n-xs" >
                                <strong>上一步</strong>
                            </a>
                        </div>
                    </form>
                </div>
                <iframe style="display:none" width="800" height="500" id="_ajax_upload_pic" name="_ajax_upload_pic"></iframe>
            </div>
            <script>
                function form_submit(){
                    $("input[name='pic[]']").each(function(k,v){
                        var newv = $(v).clone();
                        $("#pic_path").append(newv);
                    });
                    $("input[name='mid_pic[]']").each(function(k,v){
                        var newv = $(v).clone();
                        $("#pic_path").append(newv);
                    });
					$("input[name='sj_sm_pic[]']").each(function(k,v){
                        var newv = $(v).clone();
                        $("#pic_path").append(newv);
                    });
                    $("input[name='sj_mid_pic[]']").each(function(k,v){
                        var newv = $(v).clone();
                        $("#pic_path").append(newv);
                    });
                    $("input[name='sm_pic[]']").each(function(k,v){
                        var newv = $(v).clone();
                        $("#pic_path").append(newv);
                    });
                    document.getElementById('form').submit();
                }
            </script>
            <script>
                $("#form").Validform({
                    tiptype:function(msg,o,cssctl) {
                        if (!o.obj.is("form")) {
                            var objtip = o.obj.siblings('div.error');
                            cssctl(objtip, o.type);
                            objtip.text(msg);
                        }
                    }
                })
            </script>
        </div>
    </div>

</div>
<include file="Public/footer"/>